/* section-1 start  */

.section-1 {
    position: relative;
    background-color: rgb(51, 51, 177);
    color: aliceblue;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.grid-item-1 div {
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}

.border {


    border: 2px solid white;
    padding: 5px;
    width: fit-content;
    border-radius: 10px;
    align-items: center;
}

/* section-1 end  */



.section-1::after {
    clear: both;
}

/* section-2 start  */
.section-2 {
    position: relative;
    height: 100%;
    background-image: url(./banner.jpg);
    background-repeat: no-repeat;
    text-align: center;
    padding: 70px;
    color: aliceblue;

}

.section-2 span {
    color: rgb(225, 31, 221);
}

.section-2 h1 {
    padding-top: 50px;
    font-size: 50px;
}

.section-2 p {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}


.section-2 h2 {

    border: 2px solid white;
    background-color: rgb(253, 167, 7);
    padding: 10px;
    border-radius: 10px;
    width: fit-content;

}

.section-2 h2:hover {
    position: relative;
    animation-name: example;
    transition: 1s;
    animation-duration: 1s;
}

@keyframes example {
    0% {
        left: 0px;
        bottom: 10px;
    }

}

.center {
    display: grid;
    justify-content: center;
}


.center-2 {
    display: grid;
    justify-content: center;
}

.center-2 h2 {
    border: 5px solid aquamarine;
    background-color: rgb(65, 127, 136);
}

.msg img {
    position: absolute;
    bottom: 10px;
    padding-top: 20px;
    right: 30px;
    width: 70px;
    height: 70px;
}


.msg img:hover {
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}

/* section-2 end  */


/* section-3 start  */
.section-3 {
    background-color: rgb(232, 232, 219);
    padding: 10px;
}

.img-div img {
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.text-div {
    padding: 20px;
}

.text-div h1 {
    font-size: 50px;
    margin-top: 50px;
}

.text-div p {
    font-size: 25px;
    line-height: 35px;
}

.h-div h2 {
    width: fit-content;
    padding: 8px;
    font-size: 20px;
    background-color: rgb(34, 196, 196);
    color: white;
    border-radius: 7px;
}

/* section-3 end  */




/* section-4 start  */

.section-4 {
    background-color: rgb(208, 240, 251);
    text-align: center;
    padding: 20px;
}

.section-4 h1 {
    font-size: 40px;
    padding: 10px;
}

.icon-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.icon img {
    border: 10px solid rgb(32, 192, 192);
    border-radius: 50%;
    padding: 10px;
}

.icon h3 {
    font-size: 15px;
    padding: 10px;
    color: blue;
}

.icon h3:hover {
    transform: scale(1.1);
    text-decoration: underline;
    transition: 0.5s;
    cursor: pointer;
}


/* section-4 end  */



/* section-5 start  */

.section-5 {
    display: grid;
    justify-content: center;
    place-items: center;
    padding: 20px;
}

.section-5 h3 {
    text-align: center;
}

.card {

    text-align: center;
    width: 330px;
    height: auto;
    padding-top: 40px;


}

.top {
    background-color: rgb(39, 39, 158);
    color: aliceblue;
    padding: 10px;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.top-2 {
    background-color: rgb(177, 32, 167);
    color: aliceblue;
    padding: 10px;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.top-3 {
    background-color: rgb(50, 192, 48);
    color: aliceblue;
    padding: 10px;
    font-size: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bottom {
    background-color: rgb(240, 238, 235);
    padding: 10px;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.text h5 {
    line-height: 5px;
    font-size: 15px;
}

.dlt h5 {
    line-height: 5px;
    font-size: 15px;
    color: grey;
    text-decoration: line-through;
}

.bottom button {
    background-color: rgb(240, 121, 77);
    color: aliceblue;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    width: 250px;
    border: none;
}

.bottom button:hover {
    position: relative;
    animation-name: example;
    transition: 1s;
    animation-duration: 1s;
}

@keyframes example {
    0% {
        left: 0px;
        bottom: 10px;
    }

}


/* section-5 end  */



/* section-6 start  */

.section-6 {
    background-color: rgb(216, 23, 126);
    padding: 5px;
    text-align: center;

}

.section-6 h1 {
    color: aliceblue;
    font-size: 30px;

}

.s6-flex {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.s6-flex input {
    margin-right: 5px;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

.s6-flex button {
    background-color: rgb(13, 149, 222);
    color: aliceblue;
    margin-right: 5px;
    padding: 10px;
    border-radius: 5px;
    width: 80px;
    cursor: pointer;
}

/* section-6 end  */




/* section-7 start  */
.section-7 {
    display: grid;
    place-items: center;
}

.text-box {
    position: relative;
    background-color: rgb(145, 65, 221);
    border: 1px solid red;
    color: aliceblue;
    width: 300px;
    height: 250px;
    box-shadow: 7px 7px 7px rgb(233, 4, 229);
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}


.text-box-2 {
    position: relative;
    background-color: rgb(145, 68, 216);
    border: 1px solid red;
    color: aliceblue;
    width: 300px;
    height: 250px;
    box-shadow: 7px 7px 7px rgb(233, 4, 229);
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}


.text-box-3 {
    position: relative;
    background-color: rgb(143, 84, 198);
    border: 1px solid red;
    color: aliceblue;
    width: 300px;
    height: 250px;
    box-shadow: 7px 7px 7px rgb(235, 5, 200);
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}





.p- {
    font-size: 20px;
}

.img- img {
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.img- {
    position: absolute;
    bottom: -25%;
    left: 35%;
}


.text-box:hover {
    position: relative;
    animation-name: example;
    transition: 2s;
    animation-duration: 2s;
}

@keyframes example {
    0% {
        left: 0px;
        bottom: 15px;
    }

}


.text-box-2:hover {
    position: relative;
    animation-name: example;
    transition: 1s;
    animation-duration: 1s;
}

@keyframes example {
    0% {
        left: 0px;
        bottom: 15px;
    }

}



.text-box-3:hover {
    position: relative;
    animation-name: example;
    transition: 1s;
    animation-duration: 1s;
}

@keyframes example {
    0% {
        left: 0px;
        bottom: 15px;
    }

}

/* section-7 end  */



/* section-8 start */

.section-8 {
    background-color: rgb(209, 203, 234);
    margin-top: 50px;
    text-align: center;
    padding: 10px;
}

.section-8 h3 {
    color: rgb(63, 19, 241);
}

.i-f img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px;
}


.i-f img:hover {
    transform: scale(1.2);
    animation-name: rotate;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    cursor: pointer;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.icon-f {
    display: flex;
    justify-content: center;

}


/* section-8 end  */




@media only screen and (min-width:776px) {
    .section-1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .grid-item-1 {
        display: flex;
        place-items: center;
    }


    .section-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .img-div img {
        height: 100%;
    }

    .section-4 h1 {
        font-size: 50px;
        padding: 20px;
    }

    .card-div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card {
        padding: 20px;
        width: 330px;
    }

    .section-5 h3 {
        font-size: 50px;
    }

    .text-box-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }


    .text-box {
        margin: 15px;

    }


    .text-box-2 {
        margin: 15px;
    }


    .text-box-3 {
        margin: 15px;

    }
}